@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-gds-navy: #1a365d;
    --color-gds-navy-dark: #0f2440;
    --color-gds-teal: #38b2ac;
    --color-gds-teal-dark: #2c9a94;
    --color-gds-light: #f7fafc;
}
